.s1 {
    font-size: 50px;
    color:brown;
    font-family: Arial, Helvetica, sans-serif;
}

.s2 {
    font-size: 80px;
    color:rgb(68, 201, 42);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.s3 {
    font-size: 120px;
    color:rgb(39, 23, 190);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}